#ContactContainer {
  min-height: 100vh;
  background-color: #eaeaea;
}

/*The actual forms' styling*/
.form {
    background-color: #f4f4f4;
    width: 708px;
    height: 620px;
    /*border: 3px solid #c9c9c9;*/
    border-radius: 4px;
    margin: 0 auto;
}
/*the div for the top bar with text in it, without this there wouldn't be a background*/
.header {
    background-color: #c9c9c9;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
}
/*top text of the login div that says 'contact us'*/
.headerText {
    text-align: center;
    margin: 0;
    padding: 3px;
    color: #2d2d2d;
}
/*container of all the content in the contact form*/
.innerContainer {
    width: 708px;
    margin: 0 auto;
    text-align: center;
}
/*global P styling of the contact form*/
.innerContainer p {
    font-size: 19px;
    text-align: left;
    width: 240px;
    margin: 0;
    padding: 0;
}
/*all the input fields of the contact form*/
.input {
    width: 250px;
    height: 33px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
}
/*container that holds the inputs so that they can appear next to eachother*/
.inputContainer {
    display: inline-block;
    text-align: left;
}
/*subject field*/
.subject {
    width: 543px;
}
/*actual email message field*/
.message {
    height: 300px;
    width: 543px;
    resize: none;
}

/*submit button of the contact form*/
.submitBtn {
    background-color: green;
    border: 1px solid green;
    color: white;
    text-align: center;
    cursor: pointer;
    float: right;
    width: 125px;
    height: 35px;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 20px;
}