.FrontPage {
	display: block;
	min-height: calc(100vh + 1px);
	overflow: hidden;
	background-image: url("../images/thumb-1920-760463.png");
}

.FrontText {
  width: 1014px;
  margin: 180px auto 0 auto;
}

.FrontText h1 {
  margin: 0 0 50px 0;
  padding: 0;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 45px;
}

.UnderText{
  text-align: center;
  margin-bottom: 50px;
}

.FrontText p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 32px;
}

.BtnHolder {
  display: flex;
  justify-content: center;
}

.LeftBtn {
	margin-bottom: 40px;
  margin-right: 20px;
  padding: 15px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  border: none;
  border-radius: 8px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.11s linear;
}

.LeftBtn:hover {
  background-color: rgba(0,0,0,0.5)
}

.RightBtn {
	margin-bottom: 40px;
  padding: 15px;
  color: white;
  background-color: #ed7100;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.11s linear;
}

.RightBtn:hover {
  background-color: #ff5f00;
}

@media screen and (max-width: 993px) {
  .FrontText { width: 100%;}
}

@media screen and (max-height: 740px) {
	.FrontText p { font-size: 25px; }
	.LeftBtn { display: none; }
	.RightBtn { margin: 0 20px 40px 20px; font-size: 17px;  }
}

@media screen and (max-height: 641px) {
	.FrontText h1 { letter-spacing: 0; font-weight: 300; font-size: 35px; }
	.FrontText p { font-size: 20px; }
	.LeftBtn { display: none; }
	.RightBtn { margin: 0 20px 40px 20px; font-size: 17px;  }
}

@media screen and (max-width: 650px) {
	.FrontText { margin: 90px auto 0 auto !important;}
}
