html, body {
	margin: 0;
	padding: 0;
	font-family: arial;
	box-sizing: border-box;
	min-height: 100%;
}

.NavigationBar {
	position: fixed;
	width: 100%;
  background-color: transparent;
	overflow: hidden;
}

.NavigationBar a {
	position: relative;
  float: left;
	padding: 15px 0;
	margin-right: 20px;
	font-size: 20px;
	text-decoration: none;
  color: white;
}

.NavigationBar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.18s ease-in-out 0s;
  transition: all 0.18s ease-in-out 0s;
}

.NavigationBar a:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/*.TitleTab {
  padding-right: 30px !important;
  font-weight: 600;
}

.TitleTab:hover {
	color: #353535 !important;
}*/

.NavigationBar .icon {
  display: none;
}

.NavBarLinkContainer {
  display: flex;
	justify-content: center;
}

@media screen and (max-width: 650px) {
	.NavigationBar a:not(:first-child) { display: none; }
	.NavigationBar a:before { background-color: transparent; }
	.NavigationBar a.icon { float: right; display: block; }
	.NavigationBar a { text-indent: 10px; }
	.NavigationBar.responsive { position: fixed; border-bottom: 1px solid white; background-color: rgba(0,0,0,0.4); }
	.NavigationBar.responsive .icon { position: absolute;right: 0; top: 0; }
	.NavigationBar.responsive a { float: none; display: block; text-align: left; }
  .NavBarLinkContainer { display: block; }
	.NavigationBar a:hover:before { visibility: visible; -webkit-transform: scaleX(0); transform: scaleX(0);
	}
}
/*Scrollbar*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #434343;
  border: 0px none #000000;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #898989;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
