#TemplatesContainer {
  min-height: 100vh;
	background-color: #eaeaea;
}

#TemplatesContainer h1 {
  margin: 0;
  padding: 81px 0 0 0;
  text-align: center;
}

.template {
	height: 100%;
}

#TemplatesPrev {
  border-right: 30px solid black;
  border-bottom: 30px solid black;
  width: 100px;
  height: 100px;
  transform: rotate(+135deg);
  position: relative;
}
